<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.com">
  <head>
    <meta charset="UTF-8" />
    <title>나의 메모</title>
  </head>
  <body style="background-color: lightblue">
    <div align="center">
      <h3>나의 메모</h3>
      <table width="auto" border="1">
        <tr>
          <th>제목</th>
          <th>내용</th>
          <th>작성일시</th>
          <tr th:each="m:${list}">
            <td th:text="${m.title}" style="color: blue; font-weight: bold">
              title
            </td>
            <td th:text="${m.memo}">memo</td>
            <td th:text="${m.wdate}" style="color: gray;">
              wdate
            </td>
          </tr>
        </tr>
      </table>

      <br />
      <a href="/memo">작성 화면으로 돌아가기</a>
    </div>
  </body>
</html>
