<head>
  <title>전체 거래 내역</title>
</head>
<style>
  span {
    color: gray;
    font-weight: bold;
  }
</style>
<body style="background-color: #f8ece0">
  <div align="center">
    <h3>전체 거래 내역 (id, 최근거래 순) [관리자용]</h3>
    총 회원수: <span th:text="${count}"></span> 명<br />
    총 잔액: <span th:text="${sum}"></span> 원
    <p></p>
    <table width="600" border="1">
      <tr>
        <th>ID</th>
        <th>거래일시</th>
        <th>입금액</th>
        <th>출금액</th>
        <th>이체여부</th>
        <th>
          이체상대
          <tr th:each="b:${list}">
            <td th:text="${b.id}" style="color: blue; font-weight: bold">id</td>
            <td th:text="${b.tdate}">tdate</td>
            <td th:text="${b.de}" style="color: blue; text-align: right">de</td>
            <td th:text="${b.wi}" style="color: red; text-align: right">wi</td>
            <td th:switch="${b.tcode}" style="text-align: center">
              <span th:case="0">-</span>
              <span th:case="1">이체보냄</span>
              <span th:case="2">이체받음</span>
            </td>

            <td th:text="${b.tid}" style="text-align: center">tid</td>
          </tr>
        </th>
      </tr>
    </table>

    <br />
    <a href="/menu">menu</a>
  </div>
</body>
