<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.com">
  <head>
    <title>Van Gogh BANK</title>
  </head>
  <style>
    span {
      color: gray;
      font-size: 0.7em;
    }
  </style>
  <body style="background-color: #f8ece0">
    <span th:text="|총 회원: ${count} 명|"></span>
    <div align="center">
      <h1>YOUR BANK</h1>
      <form method="get" action="/login/check">
        ID: <input type="text" name="id" />
        <p>
          <input type="submit" value="login" /> &nbsp;&nbsp;
          <a href="/member/register"> 회원가입 </a>&nbsp;&nbsp;
          <a href="/qa/question"> 질문답변 </a>
        </p>
      </form>

      <img src="/bank_in.png" width="350" alt="은행 들어가는 그림" /><br />
      <span>은행 들어가는 그림 (출처:페이지 제작자 그림)</span>
    </div>
  </body>
</html>
