<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.com">
  <head>
    <title>logout</title>
  </head>
  <style>
    .gray {
      color: gray;
      font-size: 0.7em;
    }
  </style>
  <body>
    <div align="center">
      <span style="color: blue" th:text="${id}">id</span>
      님께서 로그아웃하셨습니다.
      <p>다음에 또 만나요!!</p>
      <span class="gray">
        (아래 그림을 클릭하시면 첫 화면으로 이동합니다.)
      </span>
      <br />
      <br />
      <a href="/login">
        <img src="/bank_out.png" width="350" alt="은행 나가는 그림" />
      </a>
      <br />
      <span class="gray">은행 나가는 그림 (출처:페이지 제작자 그림)</span>
    </div>
  </body>
</html>
