<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
  </head>
  <body style="background-color: palegreen">
    <ul>
      <li>
        <a href="/member/register">회원가입</a>
      </li>
      <li>
        <a href="/member/list">회원리스트</a>
      </li>
      <li>
        <a href="/saleList">saleList 과제</a>
      </li>
      <li>
        <a href="/memo">메모 과제</a>
      </li>
      <li>
        <a href="/foods">foods</a>
      </li>
      <li>
        <a href="/star/1">star</a>
      </li>
    </ul>
  </body>
</html>
