<!DOCTYPE html>
<head>
  <title>Van Gogh BANK</title>
</head>
<style>
  span {
    color: gray;
    font-size: 0.7em;
  }
</style>
<body style="background-color: #f8ece0">
  <span>총 회원: ~ 명</span>
  <div align="center">
    <h1>Van Gogh BANK</h1>
    <form method="get" action="/login/check">
      ID: <input type="text" name="id" />
      <p>
        <input type="submit" value="login" /> &nbsp;&nbsp;
        <a href="/member/register"> 회원가입 </a>
      </p>

      <p></p>
    </form>

    <img src="login.png" width="330" height="280" alt="벚꽃 명화" /><br />
    <span>그림 (출처:본인)</span>
  </div>
</body>
