<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.com">
  <head>
    <meta charset="UTF-8" />
    <title>회원 리스트</title>
  </head>
  <body style="background-color: rgb(255, 255, 128)">
    <div align="center">
      <h3>전체 회원 리스트 (id 순)</h3>
      <table width="600" border="1">
        <tr>
          <th>구매번호</th>
          <th>고객아이디</th>
          <th>제품이름</th>
          <th>구매일시</th>
          <th>구매수량</th>
          <th>구매금액</th>
        </tr>
        <tr th:each="m:${list}">
          <td th:text="${m.no}">no</td>
          <td th:text="${m.id}">id</td>
          <td th:text="${m.product}">product</td>
          <td th:text="${m.bdate}">date</td>
          <td th:text="${m.bcount}">count</td>
          <td th:text="${m.bprice}">price</td>
        </tr>
      </table>
      <br />
      <a href="/">홈으로 돌아가기</a>
    </div>
  </body>
</html>
