<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.com">
  <head>
    <meta charset="UTF-8" />
    <title>투표 결과</title>
  </head>
  <body style="background-color: rgb(255, 255, 128)">
    <div align="center">
      <h2>투표 결과</h2>
      <table width="300" border="1">
        <tr>
          <th>이름</th>
          <th>준결승 통과</th>
          <th>최종 우승</th>
        </tr>
        <tr th:each="m:${list}">
          <td th:text="${m.name}">name</td>
          <td style="color: blue; text-align: right" th:text="${m.count_semi}">
            count
          </td>
          <td style="color: red; text-align: right" th:text="${m.count_final}">
            count
          </td>
        </tr>
      </table>
      <br />
      <form method="get" action="/star/reset">
        <input type="submit" value="투표결과 초기화" />
      </form>
      <br />
      <a href="/star/1">4강전 다시 시작</a>
    </div>
  </body>
</html>
