@font-face {
  font-family: "arial";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
div {
  box-sizing: border-box;
}
body {
  margin: 0;
}
html {
  line-height: 1.15; /*기본 행간 높이*/
}
img {
  height: 60px;
  width: auto;
  border: 1px solid rgb(168, 168, 168);
  padding: 10px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
img:hover {
  background-color: #85b6ff;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #ffff;
}
