<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <title>Welcome</title>
  </head>
  <body style="background-color: rgb(207, 236, 207)">
    <h2>둘리의 p1 프로젝트!</h2>
    <hr />
    <ul>
      <li><a href="/ex01"> 예제 01</a></li>
      <li><a href="/ex02"> 예제 02</a></li>
      <li><a href="/ex03"> 예제 03</a></li>
      <li><a href="/ex04"> 예제 04</a></li>
      <br />

      <li><a href="/Quiz_03"> Quiz 03 Wise</a></li>
      <li><a href="/Quiz_04"> Quiz 04 Bread</a></li>
      <li><a href="/q06"> q06</a></li>
      <li><a href="/home/plus"> q07</a></li>
      <li><a href="/phone"> q08</a></li>
      <br />

      <li><a href="/login"> Login</a></li>
      <li><a href="/start"> Survey</a></li>
    </ul>
  </body>
</html>
