<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>artist</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>좋아하는 화가</h1>
    <form method="post" action="/survey2">
      <input type="radio" value="몽크" name="artist" /> 몽크<br />
      <input type="radio" value="달리" name="artist" /> 달리<br />
      <input type="radio" value="고흐" name="artist" /> 고흐<br />
      <input type="radio" value="이중섭" name="artist" /> 이중섭<br /><br />
      <input type="submit" value="선택" />
    </form>
  </body>
</html>
